div.chat-header {
    margin-top: 30px;
    width: 100%;
}
.subheader-container {
    margin-left: 5%;
    margin-right: 5%;
}
div.chat-header .subheader {
    display: inline-block;
    width: 50%;
    margin: auto;
    text-align: right;
}
div.chat-header .subheader.left {
    text-align: left;
}
div.chat-header h1 {
    margin-top: 0;
    margin-bottom: 20px;
}